*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain';
    color: #fff;
}
html, body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    background-color: #030303;
}

#crsr{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid #ffffff95;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 11vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: 'Plain';
        -webkit-text-stroke: 1px white;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: 'Plain';
        -webkit-text-stroke: 1px white;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: 'Silk Serif';
        -webkit-text-stroke: 1px white;
        font-weight: 400;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: 'Silk Serif';
        -webkit-text-stroke: 1px white;
        font-weight: 400;
        color: transparent;
        opacity: 0;
    }
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.9vw 9.1vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 500;
}

.hero{
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

.hero:nth-child(2){
    margin-top: 13vh;
}

.hero h1{
    font-size: 7.6vw;
    line-height: 7.6vw;
    font-weight: 500;
    text-transform: uppercase;
}

.hero h2{
    font-size: 7.6vw;
    line-height: 7.6vw;
    font-weight: 500;
    text-transform: uppercase;
}

.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}